html {
    margin: 0;
    overflow-y: scroll; 
    overflow-x:hidden;
}

@font-face {
  font-family: 'brandonText';
  src: 
    local('Brandon Text'),
    local('Brandon-Text'),
    url('../fonts/brandon.otf')
    format('opentype');
}

body {
/*   background-image: linear-gradient(to bottom right, #d8d8d8, #a3a3a3); */
	background-color: #c4c4c4;
/* 	font-size: 100%; */
	color: white;
	font-family: 'brandonText','Roboto', helvetica, sans-serif;
	margin: 0px 0px 0px 0px;
  
	}

.noscroll { 
	position: fixed;
  overflow: hidden;
}

#execute {
  width: 100%;
  text-align: center;
  line-height: 2em;
}


.formClass {
	float: left;
	margin: 0.5em;
}

.moduleError {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-align: center;
  color: red;
  text-height: 2em;
}

#brandScreensForm {
/*   display: none; */
}

#top {
	background-color: rgba(0,0,0,0.45);
	left: 0px;
	top: 0px;
	text-align: center;
	display: block;
  box-sizing: border-box;
	width: 100%;
  height: 2.5em;
  min-width: 680px;
  z-index: 998;
}

#welcome {
  display: block;
  width: 35%;
  margin-left: 2em;
}

#welcome p {
  white-space: normal;
  margin-top: 1em;
}

.headerBrandLogo {
  vertical-align: middle;
  display: inline-block;
	background-size: 95% auto;
  background-repeat: no-repeat;
  background-position: center center;
  width: 1.5em;
  height: 2em;
  margin-right: 1em;
}

#mainApiButton {
	margin: 0.5em;
}

p {
	margin: 0;
	white-space: nowrap;
  overflow: hidden;
}

#advancedOptions {
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  min-width: 200px;
  padding: 3em;
  color: black;
  background-color: #c4c4c4;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}

#advancedOptions select {
}

#advancedForm {
}

#multiBrandSelector {
  display: none;
}

#advancedButton {
  margin-left: 1em;
}

#containers {
/* 	margin-top: 60pt; */
  width: 10000px;
	height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
	color: #EEE;
	display: block;
	overflow-x: scroll;
	height: 100%;
	white-space: nowrap;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.containerHeader {
	left: 0;
  color: #4c4c4c;
	width: 100%;
  min-width: 400px;
	height: 2em;
  overflow: hidden;
/* 	margin-top: 1em; */
  margin-bottom: 1em;
	padding: 5px;
  border-top: 1px solid #b5b5b5;
}
.containerHeader:first-child {
  border: none;
}

.containerHeader .button {
	margin-right: 2em;
  line-height: 2em;
  vertical-align: middle;
}


.containerHeaderText {
  font-size: 2em;
}

.containerHeaderText:hover {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

.containerHeaderText:first-of-type {
  margin-left: 0.5em;
}


#container_Content {
/* 	height: 350px; */
  overflow-x: hidden;
}

/* .container::-webkit-scrollbar { 
    display: none; 
} */

#contentClose {
  font-size: 2em;
  color: red;
}

#contentClose:hover {
  cursor: pointer; /* Add a pointer on hover */
  text-decoration: underline;
}

#overlay {
	  height: 100%; /* Full height (cover the whole page) */
	  width: 100%; /* Full width (cover the whole page) */
    position: fixed; /* Sit on top of the page content */
	  bottom: 0;
		top: 0;
		left: 0;
    display: none; /* Hidden by default */
    background-color: rgba(0,0,0,0.75); /* Black background with opacity */
    z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
}

#overlay h1 {
	margin-left: 5em;
}

#advancedOverlay {
	  height: 100%; /* Full height (cover the whole page) */
	  width: 100%; /* Full width (cover the whole page) */
    position: fixed; /* Sit on top of the page content */
	  bottom: 0;
		top: 0;
		left: 0;
    display: none; /* Hidden by default */
    background-color: rgba(0,0,0,0.75); /* Black background with opacity */
    z-index: 998; /* Specify a stack order in case you're using a different order for other elements */
}

#loadingOverlay {
	  height: 100%; /* Full height (cover the whole page) */
	  width: 100%; /* Full width (cover the whole page) */
    position: fixed; /* Sit on top of the page content */
	  bottom: 0;
		top: 0;
		left: 0;
    background-color: rgba(0,0,0,0.75); /* Black background with opacity */
    z-index: 999; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}


#cardJson {
	position: fixed;
	height: 100%;
  width: 90%;
	background-color: rgba(0,0,0,0.85);
	color: #00ff00;
	font-size: 1em;
	text-wrap: break-word;
	white-space: pre;
	overflow-y: scroll;
	z-index: 99999;
}

#cardJson a {
	color: #00ff00;
}

#closeButton {
	display: block;
	padding: 5px;
	float: left;
	background-color: black;
	color: red;
 	font-size : 4em;
}

#closeButton:hover {
  cursor: pointer; /* Add a pointer on hover */
  color: #ffffff;
}

.CardGrad {
	display: block;
	width: 100%;
	height: 100%;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.75)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.75) 100%); /* W3C */
 /*  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */ 
}

.error {
	margin-bottom: 1em;
	text-align: center;
	overflow: visible;
	width: 100%;
	white-space: normal;
	font-size: 1em;
	color: red;
	background-color: rgba(0,0,0,0.75);
}

.errorbox {
	position: absolute;
	top: 8em;
	width: 100%;
}

.contentError {
	position: absolute;
	left: 0px;
	bottom: 0em;
	text-align: center;
	overflow: visible;
	width: 100%;
	white-space: normal;
	font-size: 1em;
  line-height: 2em;
	color: #fff;
	background-color: rgba(0,0,0,0.5);
}


.Card {
	display: inline-block;
	position: relative;
	width: 450px;
	height: 675px;
	margin-right: 2em;
/*	background-color: red;*/
	background-repeat: no-repeat;
	background-size: 100% 540px;
/*	border: solid;*/
}

.loadingCard {
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
     overflow: hidden;
	  width: 480px;
	  height: 339px;
    text-align: center;
		position: relative;
    background-color: #b2b2b2;
    margin-left: 1em;
}

.loadingCard span {
  margin-top: 2em;
  font-size: 3em;
  display: block;
}

.loadingCard .loader {
  top: 20%;
}

.contentCard {
	display: inline-block;
	position: relative;
	width: 480px;
	height: 339px;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  overflow: hidden;
  margin-left: 1em;
	margin-right: 1em;
  margin-bottom: 0.5em;
	background-repeat: no-repeat;
	background-size: 100%;
  background-color: #b2b2b2;
  box-shadow:1px 1px 5px grey; 
}

.CardMeta {
	display: block;
	width: 100%;
  height: 4.3em;
	background: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 0;
	left: 0;
}

.CardSubHeader {
	color: white;
  margin-left: 0.5em;
	position: relative;
	font-weight: 500;
	text-overflow: ellipsis;
	max-width: 600px;
}

.contentCardTitle {
	color: white;
  margin-left: 0.5em;
	position: relative;
	font-weight: 500;
	text-overflow: ellipsis;
	max-width: 600px;
}

.CardDescription {
	color: white;
  margin-left: 0.5em;
	position: relative;
	font-weight: 500;
	text-overflow: wrap;
	max-width: 600px;
}

.CardHeaderLink {
	position: relative;
	left: 1em;
	color: #84ccff;
	text-decoration: underline;
	style: underline;
	margin-bottom: 0.5em;
}

.CardHeaderLink:hover {
		color: #ffffff;
		cursor: pointer;
}


.showCard_L {
	display: inline-block;
	position: relative;
  overflow: hidden;
	width: 460px;
	height: 613px;
	margin-right: 2em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
/* 	margin-bottom: 3em; */
/*	background-color: red;*/
	background-repeat: no-repeat;
  background-position: center center;
	background-color: #b7b7b7;
  box-shadow:1px 1px 5px grey;  
/*	border: solid;*/
}

.showCard_L:first-of-type {
  margin-left: 1em;
}

.showCard_M {
	display: inline-block;
  overflow: hidden;
	position: relative;
	width: 200px;
	height: 330px;
	margin-right: 1em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
/* 	margin-bottom: 3em; */
/*	background-color: red;*/
	background-repeat: no-repeat;
	background-size: 100% 300px;
	background-color: #b7b7b7;
  box-shadow:1px 1px 5px grey; 
/*	border: solid;*/
}

.showCard_M:first-of-type {
  margin-left: 1em;
}

.showCard_M .showCardMeta {
  bottom: 2em;
}

.showCard_M .showCardMetaTitle {
  font-size: 1em;
  color: white;
  text-shadow: 1px 1px 4px black;
}

.showCard_M .brandLogo {
  width: 2em;
  height: 2em;
}

.showCard_S {
	display: inline-block;
	position: relative;
  overflow: hidden;
	width: 360px;
	height: 202px;
	margin-right: 2em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
/* 	margin-bottom: 3em; */
/*	background-color: red;*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: #b7b7b7;
  box-shadow:1px 1px 5px grey; 
/*	border: solid;*/
}

.showCard_S:first-of-type {
  margin-left: 1em;
}

.showCard_S .showCardMeta {
  bottom: 2em;
}

.showCard_S .showCardMetaTitle {
  font-size: 1.5em;
  color: white;
  text-shadow: 1px 1px 4px black;
}

.showCard_S .showCardMetaParent {
  font-size: 1em;
  color: white;
  text-shadow: 1px 1px 4px black;
}

.showCard_S .brandLogo {
  width: 2em;
  height: 2em;
}

.showCardControls {
	width: 100%;
	font-size: .75em;
	position: absolute;
	left: 0px;
  top: 0px;
  padding-top: 0.5em;
	background-color: rgba(0,0,0,0.25);
	padding-bottom: 5px;
}

.showCardControls  .button {
	margin-left: 2px;
	float: right;
}



.showCardButtons {
	  position: absolute;
    width: 100%;
    font-size: 1em;
    left: 0px;
  	height: 2em;
    line-height: 2em;
    bottom: 0em;
	  display: block;
    background-color: rgba(0,0,0,0.25);
}

.showCardButton {
	width: 50%;
  color: #84ccff;
	display: table-cell;
	float: left;
  height: 100%;
  text-align: center;
	background-color: rgba(0,0,0,0.25)
}

.showCardButton:hover {
	cursor: pointer;
  color: #ffffff;
  text-decoration: underline;
	background-color: rgba(255,255,255,0.25);
}

.showCardHeader {
	margin-left: 10px;
	color:  white;
	position: relative;
	font-weight: 400;
}

.showCardLink {
	margin-left: 10px;
	color: #84ccff;
	text-decoration: underline;
	style: underline;
}

.showCardLink:hover {
	color: #ffffff;
	cursor: pointer;
  text-decoration: underline;
}

.showCardMeta {
  position: absolute;
  bottom: 3.5em;
  left: 1em;
}

.showCardMetaTitle {
  font-size: 2em;
  line-height: 1.2em;
  color: white;
  text-shadow: 1px 1px 4px black;
}

.showCardMetaParent {
  font-size: 1.5em;
  color: white;
  text-shadow: 1px 1px 4px black;
}

.brandLogo {
  display:block;
	background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center center;
  width: 3em;
  height: 3em;
  -webkit-filter: drop-shadow(2px 2px 5px #222);
  filter: drop-shadow(2px 2px 5px #222);
}

.lock {
	display:block;
	background-image: url(../img/black_lock.png);
	background-size: 100% 100%;
	width: 50px;
	height: 50px;
	position: absolute;
  z-index: 500;
	top: 1em;
	left: 1em;
}


.button {
	display: inline-block;
  float: right;
	margin-right: 5px;
	color: #84ccff;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #3f3f3f;
}


.button:hover {
	color: #ffffff;
  cursor: pointer;
  text-decoration: underline;
	/*-webkit-animation: bounceup .3s alternate ease infinite;
	animation: bounceup .3s alternate ease infinite;
	box-shadow: 1px 1px #84ccff; */
}

@keyframes bounceright {
	from { transform: translateX(0); }
	to   { transform: translateX(3px); }
}

@-webkit-keyframes bounceright {
	from { -webkit-transform: translateX(0); }
	to   { -webkit-transform: translateX(3px); }
}

@keyframes bounceup {
	from { transform: translateY(0); }
	to   { transform: translateY(-3px); }
}

@-webkit-keyframes bounceup {
	from { -webkit-transform: translateY(0); }
	to   { -webkit-transform: translateY(-3px); }
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
		margin: -60px 0 0 -60px;
		position: relative;
 		top: 50%;
  	left: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
