<style type="text/css">

#list {
  display: table;
}

.lineItem {
  display: table-cell;
  text-align: center;
  margin-left: 10px;
  border: 1px solid black;
}

.lineItem.red {
  color: red;
}

.line {
  display: table-row;
}

#download {
  display:none;
}

#controls {
  margin-bottom: 25px;
}

</style>